body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e8f0fe;
    margin: 0;
    padding: 0;
    color: #222;
}

header {
    background-color: #3949ab;
    color: #fff;
    padding: 25px;
    text-align: center;
}

h1, h2 {
    margin: 0 0 15px;
    color: #28292c;
}

section {
    background-color: #fff;
    margin: 30px auto;
    padding: 25px;
    max-width: 650px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

select {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#datos p {
    margin: 10px 0;
    font-size: 16px;
}

button {
    display: block;
    margin: 20px auto;
    background-color: #3949ab;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #3f51b5;
}

button a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

img {
    width: 100%;
    max-width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}